@page {
    margin: 0cm 0cm;
    background-color: #FFFFFF;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
    background-color: #FFFFFF !important;
}

/** Define the header rules **/
header {
    position: fixed;
    top: 0cm;
    left: 0.5cm;
    right: 0.5cm;
    height: 2cm;

    /** Extra personal styles **/
    background-color: #b8d5e2;
    color: white;
    text-align: center;
    line-height: 1.5cm;
    font-weight: bold;
}

/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0cm;
    left: 0.5cm;
    right: 0.5cm;
    height: 2cm;

    /** Extra personal styles **/
    background-color: #b8d5e2;
    color: white;
    text-align: center;
    line-height: 1.5cm;
    font-weight: bold;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-top: 3cm;
    margin-bottom: 2cm;
}

.facture-info {
    background-color: rgb(203, 231, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}


.client-info {
    text-align: left;
}

.info {
    margin-top: 2cm;
    margin-bottom: 1cm;
}

.entete {
    /* padding-right: 1cm;*/
    font-weight: bold;
}

.info-generale {
    margin-top: 1cm;
    margin-bottom: 1cm;
}
